*.ptau
MoproAndroidBindings

benchmarking-suite/moPro/mopro-example-app/flutter/mopro_flutter_plugin/android/src/main/jniLibs/x86_64/*
benchmarking-suite/moPro/mopro-example-app/flutter/mopro_flutter_plugin/android/src/main/jniLibs/x86/*
benchmarking-suite/moPro/mopro-example-app/flutter/mopro_flutter_plugin/android/src/main/jniLibs/armeabi-v7a/*
benchmarking-suite/moPro/mopro-example-app/flutter/mopro_flutter_plugin/android/src/main/jniLibs/arm64-v8a/*

!benchmarking-suite/moPro/mopro-example-app/flutter/mopro_flutter_plugin/android/src/main/jniLibs/x86_64/.gitkeep
!benchmarking-suite/moPro/mopro-example-app/flutter/mopro_flutter_plugin/android/src/main/jniLibs/x86/.gitkeep
!benchmarking-suite/moPro/mopro-example-app/flutter/mopro_flutter_plugin/android/src/main/jniLibs/armeabi-v7a/.gitkeep
!benchmarking-suite/moPro/mopro-example-app/flutter/mopro_flutter_plugin/android/src/main/jniLibs/arm64-v8a/.gitkeep


